.main {
	--bg: #514c57;
	--highlight: #604b79;
	--radius: 4px;

	position: absolute;
	z-index: 0;
	top: var(--y);
	left: var(--x);

	display: grid;
	grid-template-areas:
		"header header"
		"input output"
		"settings settings";
	grid-template-columns: 1fr 1fr;

	user-select: none;
}

.main.hover {
	--bg: var(--highlight);
	z-index: 1;
}

.main::before,
.main::after {
	content: "";
	background-color: var(--bg);
	z-index: -1;
	align-self: end;
	--bg: #3b383f;
}
.main::before {
	grid-area: input;
	height: calc(100% - 100% * var(--left) / max(var(--left), var(--right)));
	border-left: 1px solid currentColor;
}
.main::after {
	grid-area: output;
	height: calc(100% - 100% * var(--right) / max(var(--left), var(--right)));
	border-right: 1px solid currentColor;
}

.header {
	grid-area: header;
	text-align: center;
	background: var(--bg);
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	display: flex;
	border: 1px solid currentColor;
}

.title {
	padding: .5rem;
	user-select: none;
	cursor: grab;
	flex: 1;
	font-size: .6em;
}

.title img {
	width: 2rem;
	height: 2rem;
	margin-right: .5em;
	vertical-align: bottom;
	display: block;
	margin: auto;
	pointer-events: none;
}

.delete {
	cursor: pointer;
	height: 3em;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
	background: #FFFFFF33;
}

.delete:hover {
	background: #FFFFFF66;
}

.input {
	grid-area: input;
	--bg: #3b383f;
	--highlight: #514c57;
}

.output {
	grid-area: output;
	--bg: #3b383f;
	--highlight: #514c57;
}

.settings {
	grid-area: settings;
	padding: .5em;
	background: var(--bg);
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	border: 1px solid currentColor;
	box-shadow: 0 10px 15px -5px rgba(0,0,0,.3);

	display: table;
}

.settings > * {
	display: table-row;
}
.settings > * > * {
	display: table-cell;
}

.main.hover .settings{
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.7);
}