.main {
	--bg: #514c57;
	--highlight: #604b79;
	--radius: 4px;

	position: absolute;
	z-index: 0;
	top: calc(1px * var(--y));
	left: calc(1px * var(--x));
	width: fit-content;

	user-select: none;
}

.hover {
	--bg: var(--highlight);
	z-index: 1;
}

.header {
	text-align: center;
	background: var(--bg);
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	display: flex;
	border: 1px solid currentColor;
}

.status {
	height: 1em;
	width: 1em;
	display: inline-block;
	align-self: center;
	border-radius: 50%;
	background: #2f1054;
	margin: 8px;
	margin-left: 1em;
	border: 1px solid currentColor;
}

.hasDestination {
	background: radial-gradient(#a481cd, #6717c6);
	box-shadow: 0 0 2px 1px #9070b5, 0 0 8px 2px #a971ea;
}

.title {
	padding: .5rem;
	user-select: none;
	cursor: grab;
	flex: 1;
	font-size: .6em;
}
.title img {
	width: 2rem;
	height: 2rem;
	margin-right: .5em;
	vertical-align: bottom;
	display: block;
	margin: auto;
	pointer-events: none;
}

.delete {
	cursor: pointer;
	height: 3em;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
	background: #FFFFFF33;
}
.delete:hover {
	background: #FFFFFF66;
}

.slots {
	position: relative;
	z-index: 0;
	display: grid;
	grid-auto-flow: row dense;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	--inputs: calc(var(--count) - var(--outputs));
	--max: max(var(--inputs), var(--outputs));
	--min: min(var(--inputs), var(--outputs));
	--bg: #3b383f;
	--highlight: #514c57;
}
.slots::before,
.slots::after {
	content: "";
	position: absolute;
	width: 50%;
	bottom: 0;
	background-color: var(--bg);
	z-index: -1;
	align-self: end;
	--bg: #3b383f;
}
.slots::before {
	height: calc(100% - 100% * var(--inputs) / max(var(--inputs), var(--outputs)));
	border-left: 1px solid currentColor;
	left: 0;
}
.slots::after {
	height: calc(100% - 100% * var(--outputs) / max(var(--inputs), var(--outputs)));
	border-right: 1px solid currentColor;
	right: 0;
}

.bottom {
	padding: .5em;
	background: var(--bg);
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	border: 1px solid currentColor;
	box-shadow: 0 10px 15px -5px rgba(0,0,0,.3);
}
.hover .bottom{
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.7);
}

.settings {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-auto-rows: auto;
	gap: 0.5em;
	width: 100%;
}
.settings:not(:last-child) {
	margin-bottom: 0.5em;
}