.main {
	position: relative;
	overflow: auto;
	z-index: 0;
	height: 100%;
}

.main::after {
	content: "";
	display: block;
	width: calc(1px * var(--x, 0) + 100vw);
	height: calc(1px * var(--y, 0) + 100vh);
	pointer-events: none;
	visibility: hidden;
}