.main {
	grid-column: 1 / -1;
	min-width: 400px;
	height: 100px;
	position: relative;
	z-index: 0;
	display: flex;
	--key-width: 30px;
	overflow: hidden;
}

.button {
	appearance: none;
	height: 100%;
	width: var(--key-width);
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: inset 0 0 2px #000c;
}

.black {
	position: relative;
	z-index: 1;
	box-shadow: 0 1px 3px #000c;
	background: #1d0138;
	height: 50%;
	width: calc(0.5 * var(--key-width));
	margin-right: calc(-0.5 * var(--key-width));
	left: calc(-0.25 * var(--key-width));
}

.active {
	box-shadow: inset 0 4px 4px #000c;
	background: #ecdefc;
}

.black.active {
	background: #511e83;
}

.input {
	display: none !important;
}