.explain {
	grid-column: 1 / -1;
	margin: 0;
	font-size: .65em;
	opacity: .7;
	text-align: center;
}

.range {
	cursor: not-allowed !important;
}

.range:not([disabled])::-webkit-slider-thumb {
	box-shadow: 0 0 0.75em -2px #dbccee, inset 0 0 2px #a45efa;
	border-radius: 50%;
}

.text {
	color: currentColor;
	background: transparent;
	text-align: center;
	border-radius: 4px;
	aspect-ratio: 1 / 1;
	width: fit-content;
	justify-self: center;
	border-style: outset;
	padding: 0.125em;
	font-family: monospace;
}