.main {
	display: grid;
	grid-template-columns: repeat(var(--col), 1fr);
	grid-auto-rows: 1fr;
	gap: .5em;
}

.button {
	appearance: none;
	padding-bottom: 100%;
	background: #fff4;
	border-radius: 4px;
	border: 1px solid #fff;
}

.time {
	font: inherit;
	box-shadow: 0 0 0.5em -0.1em #e2cefac2;
	background: radial-gradient(#eeebf2de, #ac91cc);
}

.active {
	background: radial-gradient(#4c1e83, #2b0c50);
	box-shadow: inset 0 0 0.3em 1px #0b0017e3;
}

.active.time {
	border-color: #bca7d6;
	box-shadow:
		inset 0 0 0.5em 1px #14062591,
		0 0 10px #a971ea;
	background: radial-gradient(#926ac4, #2f1054);
}

.input {
	display: none !important;
}